<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aaron.filepickerlibrary">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.aaron.filepickerlibrary.ui.FilePickerActivity"
            android:theme="@style/LibraryAppTheme">
        </activity>
    </application>

</manifest>